html {
    scroll-behavior: smooth;
  }
.navbar{
    background-color: rgb(0, 0, 0);
}
#navbar .navbar-nav .nav-link {
    font-family: "Kaushan Script", cursive;
    color: #ffffff;
}
#navbar .navbar-nav .nav-link:hover {
    font-family: "Kaushan Script", cursive;
    color: #f3cb51;
}
#navbar .navbar-brand {
    font-family: "Kaushan Script", cursive;
    color: #f3cb51;
}
#navbar .navbar-toggler-icon {
    background-color: #000000; 
    border-color: #f3cb51; 
    border-style: solid; 
    border-width: 1px; 
    border-radius: 20%;
}
#about h2{
    font-family: "Kaushan Script", cursive;
}
#about p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#drink h2{
    font-family: "Kaushan Script", cursive;    
}
#drink h5{
    font-family: "Kaushan Script", cursive;    
}
.btn-primary{
    border-width: 3px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0); 
    border-color: #f3cb51; 
    color: rgb(255, 255, 255); 
}
.card-body .btn-primary:hover {
    background-color: #f3cb51;
    border-color: #000000;
}
.list-group-item {
    font-family: "Kaushan Script", cursive;
    color: rgb(0, 0, 0);
    font-weight: 200;
}    
.card {
    border-width: 2px; 
    border-style: solid; 
    border-color: #000000; 
}
#contact {
    border-color: #000000 ;
    padding: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}
#contact h2{
    text-align: center;
    color: #f3cb51;
}
#contact p{
    text-align: center;
    color: #000000;
}
.fas.fa-cart-plus {
    color: #f3cb51;
    ;
}
.fas.fa-credit-card {
    color: #f3cb51;
}
.fas.fa-cart-plus:hover {
    color: #000000;
    ;
}
.fas.fa-credit-card:hover {
    color: #000000;
}
  
  
  
  
  
  
  